*.pyc
*.pyd
benchtree
build

=======
.gitattributes

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
## bin
## var
sdist
develop-eggs
.installed.cfg
## lib
## lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

### Prevent Private Key push to git
*.p12

### Aptana, Spyder and Code Runner Autobackup Remove
*.*\~
*.\ \(Autosaved\).py
.spyderworkspace
.DS_Store

## Aptana
.settings
.project
.pydevproject
.metadata

*.db
